* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cambria;
  color: #1B2522;
}

.full-screen-header {
  height: 100vh;
  background-image: url('../assets/header.jpg');
  background-size: 100% 100%;
  /* background-position-y: center; */
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end; 
} 

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2522;
  padding: .5rem 1rem;
}

.logo {
  margin: 0;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.nav-list a:hover {
  color: #CCC;
}

.title1 {
  margin: 5rem 0px 0px 0px;
  font-size: 1rem;
}

.title2 {
  margin: .3rem 0px 0px 0px;
  font-size: 1rem;
}

.sub-title {
  font-size: .5rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
  border-radius: 10000px;
  padding: .25em 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: .5rem;
}

.btn:hover,
.btn:focus {
  background-color: hsl(200, 100%, 40%)
}

.scroll-down-icon {
  position: absolute;
  bottom: 1rem;
  width: 30px;
}